body{
margin: 0;
padding: 0;
font-style: italic;
color: #080808;
font-size: 15px;
}
header{
display: flex;
align-items: center;
justify-content: end;
background-image: url(../imagenes/logito.jpeg);
background-size: 60px;
background-repeat:no-repeat;
background-color: #f4f3f3;
padding: 10px;
}
.gridImg{
display: grid;
grid-template-columns: 310px 310px 310px;
grid-template-rows: 250px 250px 250px;
text-align: center;
}
.gridImg img:hover{
transform: scale(1.1);
transition:step-start 2s;
}
.randomImg{
display: grid;
grid-template-columns: 310px 310px 310px;
grid-template-rows: 250px 250px 250px;
text-align: center;
}
.randomImg img:hover{
transform: scale(1.1);
transition:step-start 2s;  
}

ul li{
display:inline-block;
gap: 10px;
list-style-type: none;
justify-content: center;
}
ul li a{
text-decoration: none;
color: rgb(11, 11, 11);
margin: 15px;
padding: 5px;
text-align: center;  
}
h1{
text-align: center;
}
.mainbiografia{
text-align: center;
}
.formulario{
color: rgb(12, 12, 12);
background-image: url(../imagenes/p43.jpg);
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;
text-align: center;
}
form{
width: 350px;
margin: auto;
background: rgba(0, 0, 0, 0.4);
padding: 30px 20px;
box-sizing: border-box;
margin-top: 20px;
border-radius: 20px;
}
h2{
margin: 0;
margin-bottom: 20px;
}
input,textarea{
width: 100%;
margin-top: 10px;
padding: 2px;
border: none;
}
label{
color: rgb(10, 10, 10);
}
textarea{
min-height: 100px;
}
.iconos-footer a{
text-decoration: none;
color: rgb(227, 216, 216);
padding: 5pxpx;
margin: 5px;
text-align: center;
}
.iconos-footer a:hover{
color: rgb(126, 33, 219);
transform: scale(1.2);
transition: ease-in-out 1s ;
}
@media (max-width:600px){
    form{
      width: 100%;
    }    
    header{
     font-size: 2px ;
    }
    .gridImg{
    grid-template-columns: 1fr;
    padding: 2px;
    margin: 2px;
    }
    .randomImg{
    grid-template-columns: 1fr;
    padding: 2px;
    margin: 2px;}
    h1{
    display: none;
    }

}
