body{
margin: 0;
padding: 0;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #080808;
font-size: 20px;
}
header{
display: flex;
align-items: center;
justify-content: end;
background-image: url(../imagenes/logo\ principal.png);
background-size: 200px;
background-position: 20px;
font-size: 15px;
background-repeat:no-repeat;
padding: 20px;
}
.gridImg{
display: grid;
grid-template-columns: 310px 310px 310px;
grid-template-rows: 250px 250px 250px;
text-align: center;
padding: 40px;
}
.gridImg img:hover{
transform: scale(1.1);
transition:step-start 2s;
}
.randomImg{
display: grid;
grid-template-columns: 310px 310px 310px;
grid-template-rows: 250px 250px 250px;
text-align: center;
padding: 40px;
}
.randomImg img:hover{
transform: scale(1.1);
transition:step-start 2s;  
}

ul li{
display:inline-block;
gap: 10px;
list-style-type: none;
justify-content: center;
}
ul li a{
text-decoration: none;
color: rgb(11, 11, 11);
margin: 5px;
padding: 5px;
text-align: center;  
}
h1{
text-align: center;
padding: 30px;
text-decoration:overline;
}
.mainbiografia{
text-align: center;
}
.formulario{
color: rgb(12, 12, 12);
background-image: url(../imagenes/p43.jpg);
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;
padding: 80px;
text-align: center;
}
form{
width: 350px;
margin: auto;
background: rgba(0, 0, 0, 0.4);
padding: 30px 20px;
box-sizing: border-box;
margin-top: 20px;
border-radius: 20px;
}
h2{
margin: 0;
margin-bottom: 20px;
}
input,textarea{
width: 100%;
margin-top: 10px;
padding: 2px;
border: none;
}
label{
color: rgb(10, 10, 10);
}
textarea{
min-height: 100px;
}
.iconos-footer a{
text-decoration: none;
color: rgb(227, 216, 216);
padding: 5pxpx;
margin: 5px;
text-align: center;
}
.iconos-footer a:hover{
color: rgb(126, 33, 219);
transform: scale(1.2);
transition: ease-in-out 1s ;
}
@media (max-width:600px){
    form{
      width:100%;
    }    
    header{
     font-size: 5px ;
     background-size: 100px;
    }
    .gridImg{
    grid-template-columns: 1fr;
    padding: 2px;
    margin: 2px;
    }
    .randomImg{
    grid-template-columns: 1fr;
    padding: 2px;
    margin: 2px;}
    
    .mainbiografia{
    font-size: 15px;
    padding: 50px;
  }
}

@media (min-width:1200px){
  .gridImg{
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.randomImg{
  grid-template-columns: auto auto auto;
  padding: 20px;
}
img{
  width: 450px;
  height: 210px;
  }
body{
  font-size: 50px;
}
header{
  font-size: 20px;
}
.mainbiografia img{
  width: 400px;
  height: 500px;
}
form{
  width: 40%;
}

}